body {
    background-image: url(../../htmlCssProjects/assets/CoffeeBean.jpg);
    background-size: 100%;
}

.background {
    background-color:  rgba(73, 38, 11, 0.957);
    border-radius: 25px;
    margin: 20px;
    border:solid 1px white;
}

h1 {
    text-align: center; 
    color: white; 
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.617);
}

h2 {
    text-align: center; 
    color: whitesmoke; 
    font-family: 'Noto Serif Sinhala', serif;
    font-size: 2em;
}

h3 {
    text-align: center; 
    color: whitesmoke; 
    font-family: 'Noto Serif Sinhala', serif;
}

p {
    padding: 0 12px 12px 12px;
    color: rgb(248, 239, 228);
    text-align: center;
}

#tagline {
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.617);
    padding-bottom: 25px;
}

#section-1 {
    border: solid 10px white;
    border-style: double;
}
